img{
	max-width: 100%;
}
.gallery{
	background-image:url('{{asset("ass_anjungan/backdrop.png")}}') ;
	padding: 80px 0;
}
.gallery img{
	background-color: #ffffff;
	padding: 15px;
	width: 100%;
	box-shadow: 0 0 15px rgba(0,0,0,0.3);
	cursor: pointer;
	border-radius:20px;
	height: 100px;
}
#gallery-modal .modal-img{
	width: 100%;
}